.LOGO{
     font-size: xx-large;
}
.container-fluid{
     width: 100%;
 background-color: black;     
}
#na{
     background-color: #37517e;
    
}
.clone
{
     width: 100%;
     position: fixed;
     background: rgb(6,77,166);
background: radial-gradient(circle, rgba(6,77,166,1) 17%, rgba(236,238,246,1) 51%, rgba(9,9,121,1) 65%, rgba(6,86,172,1) 73%, rgba(0,212,255,1) 87%);
opacity: 1;
z-index: 1000;
}
.page3{
     font-size: 50px;
}
